:root{
    --primary-color: #FFFFFF;
    --bs-body-bg: #202124;
    --bs-body-font-family: 'Source Sans Pro', sans-serif;
}
html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-color: #202124;
}
p::selection{
    color: #FFFFFF;
    background-color: green;
}
body::-webkit-scrollbar{
    width: 13px;
}
body::-webkit-scrollbar-thumb{
    background: #c1c1c1;
    border-radius: 6px;
}

/* HEADER */
.header{
    z-index:2;
}
.hero{
    position: relative;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.hero_video{
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    opacity: 0.3;
}
#header-title{
    transition: 0.5s;
}
#header-title:hover{
    font-size: 2.7rem !important;
}

.hero_scroll_btn{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
}
.hero_scroll_btn:hover{
    color: #FFFFFF;
    opacity: .8;
}
.hero_scroll_btn .bi{
    transition-delay: .8s;
    animation: bounce 1s infinite alternate;
}
@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-6px);
    }
}
/* NAVBAR */
nav{
    height: 59px;
    background: rgba(19, 18, 18, 0.8);
    z-index: 2;
    overflow: hidden;
    
}
nav ul{
    justify-content: space-between !important;
}
nav ul li a{
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 60px;
    letter-spacing: 0.5px;
    transition: 0.5s !important;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:rgb(183, 229, 241);
    margin: auto;
    display: block;
}
nav ul li a:hover::after{
    width: 100%;
    transition: width 0.5s ease;
    margin-top: -5px;
}
nav ul li a:hover{
    font-size: 17px !important;
    color: #fff;
}


/* SOBRE */
#sobre{
    padding: 70px 90px;
    background-color: #202124;
}
#sobre-title{
    font-size: 60px;
}
#sobre-secao p{
    font-size: 0.8rem;
}
#sobre-img{
    align-items: flex-start;
}



@media (max-width: 1400px) {

}
@media (max-width: 992px) {
    nav{
        height: auto;
    }
}
@media (max-width: 444px) {
}

@media(max-width: 776px){
    #sobre-title{
        text-align: center;
    }
    #sobre-secao{
        display: flex;
        justify-content: center;
    }
    #sobre{
        padding: 70px 40px;
    }
}

@font-face{
    font-family: 'Coolvetica';
    src: url(../font/Coolvetica\ Rg.ttf);
}