:root{
    --primary-color: #FFFFFF;
    --bs-body-bg: #202124;
    --bs-body-font-family: 'Source Sans Pro', sans-serif;
}
html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-color: #202124;
}
p::selection{
    color: #FFFFFF;
    background-color: green;
}
body::-webkit-scrollbar{
    width: 13px;
}
body::-webkit-scrollbar-thumb{
    background: #c1c1c1;
    border-radius: 6px;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px) !important;
    opacity: 1;
}


#title{
    font-size: 60px;
}
p{
    font-size: 0.9rem;
}


/* HEADER */
.header{
    z-index: 2;
}
.hero{
    height: 100vh;
    background-color: black;
}
.hero_video{
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    opacity: 0.3;
}
#header-title{
    transition: 0.5s;
}
#header-title:hover{
    font-size: 2.7rem !important;
}

.hero_scroll_btn{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}
.hero_scroll_btn:hover{
    color: #FFFFFF;
    opacity: .8;
}
.hero_scroll_btn .bi{
    transition-delay: .8s;
    animation: bounce 1s infinite alternate;
}
@keyframes bounce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-6px);
    }
}

section{
    overflow-x: hidden;
}


/* NAVBAR */
nav{
    height: 59px;
    background: rgba(19, 18, 18, 0.8);
    z-index: 2;
}
.navbar-brand{
    font-family: 'Coolvetica';
}
.btn-close{
    background-color: #FFFFFF;
}
nav ul{
    justify-content: space-between !important;
}
nav ul li a{
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 60px;
    letter-spacing: 0.5px;
    transition: 0.5s !important;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:rgb(183, 229, 241);
    margin: auto;
    display: block;
}
nav ul li a:hover::after{
    width: 100%;
    transition: width 0.5s ease;
    margin-top: -5px;
}
nav ul li a:hover{
    font-size: 17px !important;
    color: #fff;
}


/* PERFIL */

    /* SOBRE */
#sobre{
    padding: 70px 90px;
    background-color: #202124;
}


    /* EXIGÊNCIAS */
#exigencias{
    padding: 70px 90px;
    background-color: #2E3035;
}
#exigencias-secao h2{
    font-size: 25px;
    font-weight: bold;
}
.exigencias-quadrado{
    background: #13AACE;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    transition: 1s ease;
}
.exigencias-quadrado:hover{
    background: #38CE13;
}


    /* MERCADO */
#mercado{
    padding: 70px 90px;
    background-color: #2E3341;
    overflow: hidden;
}
#mercado #title{
    font-size: 50px;
}
#mercado-secao ul{
    padding: 10px !important;
}
#mercado-secao ul li{
    font-size: 16px;
}


.carousel-inner{
    padding: 1em;
}
#mercado-texto_largo{
    font-size: 14px;
}
#mercado-ajuste{
    position: relative;
    bottom: 20px;
}
#mercado-ajuste2{
    position: relative;
    height: 180px;
}
#mercado .card{
    margin: 0 .5em;
    border: solid 4px #01F5B7;
    border-radius: 30px;
    height: auto;
}
#mercado .img-wrapper{
    max-width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-bottom: solid 4px #01F5B7;
}
.img-wrapper img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.carousel-control-next{
    left: 95%;
}
.carousel-control-prev{
    left: -8%;
}
@media screen and (min-width:576px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}


    /* CURSO */
#curso{
    padding: 0px 90px;
    background-color: #2E3035;
}
#curso #title{
    padding-top: 80px;
}


    /* UNIVERSIDADE */
#universidade{
    padding: 80px 90px;
}
#universidade #title{
    margin-bottom: 100px;
}
.universidades-logos{
    position: relative;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.universidades-logos ul li{
    position: relative;
    list-style: none;
    width: 120px;
    height: 120px;
    margin: 0 70px;
    margin-bottom: 40px;
    transform: rotate(-30deg) skew(25deg);
    background: #202124;
}
.universidades-logos ul li span{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}
.universidades-logos img{
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100px !important;
}
.universidades-logos ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
.universidades-logos ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: .8;
}
.universidades-logos ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: .6;
}
.universidades-logos ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: .4;
}
.universidades-logos ul li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: .2;
}
.universidades-logos ul li:nth-child(1) span{
    background: linear-gradient(to bottom,#f37923, #f04f25);
}
.universidades-logos ul li:nth-child(2) span{
    background: #111e3e;
}
.universidades-logos ul li:nth-child(3) span{
    background: #da6d14;
}
.universidades-logos ul li:nth-child(4) span{
    background: #2f3b89;
}
.universidades-logos ul li:nth-child(5) span{
    background: #0526a9;
}

    /* GRADE */
#grade{
    background-color: #280f73;
}
#grade h1{
    color: #db3378;
}
#grade ul{
    padding: 0 !important;
}
#grade ul li{
    font-size: 13.3px;
}
#grade img{
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
}


    /*GRADUAÇÃO*/
#graduacao{
    background: #1B492F;
}
.graduacao-header{
    position: relative;
    width: 100%;
    height: 19em;
    overflow: hidden;
}
.graduacao-header img{
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    opacity: .8;
}
.graduacao-header h3{
    font-size: 4em;
    text-shadow: 
    0em 0em 0.2em black;
}

.graduacao{
    width: 100%;
    background: #1B492F;
    padding: 60px 180px;
}

    /*PÓS-GRADUAÇÃO*/
#posgraduacao{
    background: #743637;
}
.posgraduacao-header{
    position: relative;
    width: 100%;
    height: 19em;
    overflow: hidden;
}
.posgraduacao-header img{
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 650px;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    opacity: .8;
}
.posgraduacao-header h3{
    font-size: 4em;
    text-shadow: 
    0em 0em 0.2em black;
}

.posgraduacao{
    width: 100%;
    background: #743637;
    padding: 60px 100px;
}
#cursos{
    text-align: center;
}
#cursos img{
    width: 110px;
    border-radius: 20px;
    transition: 0.5s;
}
#cursos img:hover{
    width: 115px;
}
#cursos p{
    font-size: 0.7em;
    color: #ffffff;
    text-decoration: none;
}
#cursos a{
    text-decoration: none;
}


/* FOOTER */
#footer{
    background-color: #005da4;  
}
#redes{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes li a{
    font-size: 2em;
    color: #FFFFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#redes li a:hover{
    transform: translateY(-10px);
}
#redes li{
    list-style: none;
}

#footer a{
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
#footer a:hover{
    opacity: 1;
}
#footer .wave{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../files/images/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}
@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position: 0px;
    }
}
@keyframes animateWave2 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position: 1000px;
    }
}


/* ENTREVISTA */
#entrevista{
    height: 350vh;
    padding: 0px 100px;
    overflow-y: hidden;
}
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.layer1{
    background-image: url('../files/layer3.svg');
}
#entrevista-video{
    top: 13em;
    z-index: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #21245e;
    overflow: hidden;
    z-index: 0;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 17s linear infinite;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background li:nth-child(0) {
    left: 10%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 33%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 79%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 7%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 63%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 11s;
}
.background li:nth-child(5) {
    left: 58%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 76%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 7s;
}
.background li:nth-child(7) {
    left: 61%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 21s;
}
.background li:nth-child(8) {
    left: 56%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 13s;
}
.background li:nth-child(9) {
    left: 68%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 18s;
}
.background li:nth-child(10) {
    left: 4%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 19s;
}
.background li:nth-child(11) {
    left: 26%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 1s;
}
.background li:nth-child(12) {
    left: 13%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 8s;
}

#entrevista #portal{
    top: 18em;
    z-index: 2;
}

#btn-mais{
    width: 100%;
}


#noticias{
    padding: 70px 90px;
}
@media (max-width: 1400px) {

}
@media (max-width: 1030px) {
    #entrevista{
        height: 300vh;
    }
    #entrevista #portal{
        top: 12em;
    }
    #entrevista-video{
        top: 9em;
    }
    #universidade ul{
        flex-direction: column;
    }
}
@media (max-width: 992px) {
    nav{
        height: auto;
    }
    .spacer{
        aspect-ratio: 770/500;
    }
    #entrevista{
        height: 350vh;
    }
    #entrevista #portal{
        top: 22em;
    }
    #entrevista-video{
        top: 20em;
    }
}
@media(max-width: 776px){
    #title{
        text-align: center;
    }

    #sobre{
        padding: 70px 40px;
    }
    #sobre-secao{
        display: flex;
        justify-content: center;
    }

    
    #exigencias{
        padding: 70px 20px;
    }
    .exigencias-quadrado{
        border-radius: 10px;
        width: 45px;
        height: 45px;
    }

    #mercado{
        padding: 70px 0px;
    }
    #mercado-secao{
        padding: 0px 20px;
    }

    .carousel-item{
        flex: 0 0 calc(100%/2);
    }
    .carousel-control-next{
        left: 85%;
    }
    .carousel-control-prev{
        left: 0%;
    }

    #entrevista{
        height: 130vh;
    }
    #entrevista-video{
        top: 15em;
    }
    #entrevista iframe{
        width: 500px;
        height: 350px;
    }
    .spacer{
        aspect-ratio: 770/500;
    }
    
    #curso{
        padding: 70px 0px;
    }

    #universidade{
        padding: 60px 0px;
    }
    #universidade #title{
        font-size: 50px;
    }

    .graduacao{
        padding: 60px 40px;
    }
    #graduacao-secao{
       display: flex;
       justify-content: center;
    }
    .posgraduacao{
        padding: 60px 20px;
    }
    #entrevista{
        height: 490vh;
        padding: 0px 80px;
    }
    #entrevista #portal{
        top: 22em;
    }


    #noticias{
        padding: 70px 20px;
    }
}
@media (max-width: 444px) {
    #header-title:hover{
        font-size: 2rem !important;
    }
    #mercado .card{
        height: 520px !important;
    }
    .spacer{
        aspect-ratio: 500/600;
    }
    #entrevista-video{
        top: 15em;
    }
    #entrevista iframe{
        width: 90%;
        height: 300px;
    }
    #entrevista{
        height: 420vh;
        padding: 0px 10px;
    }
}
@font-face{
    font-family: 'Coolvetica';
    src: url(../font/Coolvetica\ Rg.ttf);
}